<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TopicOptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.test.entity.TopicOptionDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="question_id" property="questionId" jdbcType="INTEGER"/>
        <result column="options" property="options" jdbcType="VARCHAR"/>
        <result column="sorts" property="sorts" jdbcType="BOOLEAN"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_id, options, sorts, gmt_create, gmt_modified
    </sql>

</mapper>